{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{  asset('css/planHtml.css') }}" /> 

{% endblock %}


{% block body %}
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
 				 <div class="panel-heading">Plans</div>
				  
				  <div class="panel-body"> 
				  
						<table class="table table-hover" id="tablePlanList">
					      <thead>
					        <tr>
					          <th style="display:none"></th>
					          <th>Plan Name</th>
					          <th>Plan Description</th>
					          <th>Plan Difficulty</th>
					          <th>Edit</th>
					          <th>Delete</th>
					          <th>Detail</th>
					        </tr>
					      </thead>
					      <tbody>

					      </tbody>
					    </table>
					</div>
				</div>
		</div>
		<div class="col-md-2"> 
			<td><button type="button" id="addPlanItem" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right:10px"></span>New Plan</button></td>	
		</div>   
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="planItemInfoModal" data-backdrop="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	      	  <input type="hidden" id="planIdPlanItemInfo">
	      	  <div class="form-group">
			    <label>Plan Name *</label>
			    <input type="text" class="form-control" id="planNamePlanItemInfo" placeholder="Plan Name...">
			  </div>
			  <div class="form-group">
			    <label>Plan Description *</label>
			    <textarea class="form-control" id="planDescriptionPlanItemInfo" placeholder="Plan Description..." style="resize:none"></textarea>			    
			  </div>
			  <div class="form-group">
			    <label>Plan Difficulty *</label>
			    <select class="form-control" id="planDifficultyPlanItemInfo">
			    	<option value="-1" selected>Select Difficulty...</option>

			    	{% for item in planDifficulties %}
			    		<option value="{{item.id}}">{{item.Name}}</option>
			    	{% endfor %}
			    </select>
			  </div>  
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="planItemSave">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/planHtml.js') }}"></script>

	<script type="text/javascript">
		{% for message in app.flashes('planInfoSaveResult') %}

		        openNotify('success','{{ message }}');
		    
		{% endfor %}
	</script>
{% endblock %}