<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		<style>
			.table tbody td{
				word-break: break-all !important;
			}
		</style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    	<div class="container" style="margin-top: 1%">
  
	  		<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="/plan">Plans</a></li>
			        <li><a href="/user">Users</a></li>
			        <li><a href="/exercise">Exercises</a></li>	        
			      </ul>			      
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

        {% block body %}{% endblock %}

	        <div class="modal fade" tabindex="-1" role="dialog" id="generalRemoveConfirmModal" data-backdrop="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Are you sure?</h4>
			      </div>
			      <div class="modal-body">
			      	  <input type="hidden" id="requestURL">
			      	  <input type="hidden" id="successCallback">	
			      	  Record will be removed. Do you want to continue?
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="generalRemoveConfirm" data-dismiss="modal">Confirm</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

		<script src="{{ asset('js/bootstrap-notify/bootstrap-notify.min.js') }}"></script>

		<script type="text/javascript">
			$(function() {
				var loc = window.location.href;
				var arr = loc.split('/');

				loc = arr[arr.length-1];

			   $(".navbar .navbar-nav li a").each(function() {
			      if ($(this).html().toLowerCase().indexOf(loc) >= 0) { 
			        $(this).closest('li').addClass("active"); 
			        return false;
			      }
			   });
			});

			$('#generalRemoveConfirmModal #generalRemoveConfirm').on('click',function(){
				$.ajax(
					{  
			           url: $('#generalRemoveConfirmModal #requestURL').val(),  
			           type: 'POST',
			           dataType: 'text',  
			           async: true,
			           success: function(result) {  
			           		
			           		if(result == "success"){
			           			//window.location = $('#generalRemoveConfirmModal #redirectURL').val();
			           			openNotify('success','Remove operation succeeded.');
			           			eval($('#generalRemoveConfirmModal #successCallback').val());	
			           		}
			           		else{
			           			openNotify('danger','Remove operation failed.');
			           		}
			           }  
			       }
			    );
			});

			function openGeneralRemoveConfirmModal(requestURL,successCallback){
				$('#generalRemoveConfirmModal #requestURL').val(requestURL);
				$('#generalRemoveConfirmModal #successCallback').val(successCallback);

				$('#generalRemoveConfirmModal').modal('show');						
			}

			function openNotify(type,message){
				$.notify(
					{						
						title: '<strong>'+(type == 'danger'?'error':type)+'</strong>',
						message: message
					},
					{
						type : type,
						z_index:99999999,
						placement: {
							from: "top",
							align: "center"
						},
						template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" >' +
							'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
							'<span data-notify="icon"></span> ' +
							'<span data-notify="title">{1}</span><br> ' +
							'<span data-notify="message">{2}</span>' +
							'<div class="progress" data-notify="progressbar">' +
								'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
							'</div>' +
							'<a href="{3}" target="{4}" data-notify="url"></a>' +
						'</div>' 
					}
				);
			}

			function isPositiveNumber(number){
				try{
					var n = parseInt(number);

					if(!isNaN(n) && n > 0){
						return true;
					}
				}
				catch(e){}
				
				return false;
			}
		</script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
