{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block body %}
	<input type="hidden" value="{{model.plan.id}}" id="currentPlanId">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
 				<div class="panel-heading">{{model.plan.PlanName}}</div>
				  
				<div class="panel-body">
					<div class="row">
						
						<div class="col-md-7">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
						 				<div class="panel-heading">Plan Days <button type="button" id="addPlanDayItem" class="btn btn-sm btn-success" style="float:right; margin-top: -5px;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right:10px;"></span>New Plan Day</button></div>
										  
										<div class="panel-body">

											<table class="table table-hover" id="tablePlanDays">
										      <thead>
										        <tr>
										          <th style="display:none"></th>
										          <th>Day Name</th>
										          <th>Order</th>
										          <th>Edit</th>
										          <th>Delete</th>
										          <th>Detail</th>
										        </tr>
										      </thead>
										      <tbody>
										      </tbody>
										    </table>

									    </div>
								    </div>
							    </div>
						    </div>
						</div>

						<div class="col-md-5">
							<div class="panel panel-default" id="panelPlanDayExercises">
								<input type="hidden" id="currentPlanDayId" />
				 				<div class="panel-heading"><span style="    display: inline-block;    width: 70%;    word-break: break-all;">Day Exercises</span><button type="button" id="addExerciseInstanceItem" class="btn btn-sm btn-success" style="float:right; margin-top: -5px; display:none"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right:10px;"></span>New Instance</button></div>
								  
								<div class="panel-body">

									<table class="table table-hover" id="tableExerciseInstances">
								      <thead>
								        <tr>
								          <th style="display:none"></th>								          
								          <th>Exercise</th>
								          <th>Duration</th>
								          <th>Order</th>
								          <th style="display:none"></th>							          
								          <th>Edit</th>
								          <th>Delete</th>
								        </tr>
								      </thead>
								      <tbody>
								      </tbody>
								    </table>

								</div>	
							</div>		
						</div>
						
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-default" id="panelPlanUsers">
								<input type="hidden" id="currentPlanDayId" />
				 				<div class="panel-heading">Plan Users <button type="button" id="addPlanUserItem" class="btn btn-sm btn-success" style="float:right; margin-top: -5px; "><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right:10px;"></span>New User</button></div>
								  
								<div class="panel-body">

									<table class="table table-hover" id="tablePlanUsers">
								      <thead>
								        <tr>
								          <th style="display:none"></th>								          
								          <th>User</th>
								          <th style="display:none"></th>
								          <th>Delete</th>
								        </tr>
								      </thead>
								      <tbody>
								      </tbody>
								    </table>

								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="planDayItemInfoModal" data-backdrop="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	      	  <input type="hidden" id="planDayIdPlanDayItemInfo">
	      	  <input type="hidden" id="planDayPlanIdPlanDayItemInfo" value="{{model.plan.id}}">
	      	  <div class="form-group">
			    <label>Day Name *</label>
			    <input type="text" class="form-control" id="planDayDayNamePlanDayItemInfo" placeholder="Plan Day Name...">
			  </div>
			  <div class="form-group">
			    <label>Order *</label>
			    <input id="planDayOrderPlanDayItemInfo" type="number" min="1"/>
			  </div>  
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="planDayItemSave">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" tabindex="-1" role="dialog" id="exerciseInstanceItemInfoModal" data-backdrop="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	      	  <input type="hidden" id="exerciseInstanceIdExerciseInstanceItemInfo">
	      	  <input type="hidden" id="exerciseInstanceDayIdExerciseInstanceItemInfo">
	      	  <div class="form-group">
			    <label>Exercise *</label>
			    <select  class="form-control" id="exerciseInstanceExerciseExerciseInstanceItemInfo">
			    	<option value="-1">Select an exercise..</option>

			    	{% for item in model.exercises %}

			    		<option value="{{item.id}}">{{item.ExerciseName}}</option>

			    	{% endfor %}
			    </select>
			  </div>
			  <div class="form-group">
			    <label>Duration (seconds) *</label>
			    <input class="form-control" id="exerciseInstanceDurationExerciseInstanceItemInfo" type="number" min="1"/>
			  </div>
			  <div class="form-group">
			    <label>Order *</label>
			    <input class="form-control" id="exerciseInstanceOrderExerciseInstanceItemInfo" type="number" min="1"/>
			  </div>  
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="exerciseInstanceItemSave">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" tabindex="-1" role="dialog" id="planUserItemInfoModal" data-backdrop="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	      	  <input type="hidden" id="planUserUserIdPlanUserItemInfo">
	      	  <div class="form-group">
			    <label>User *</label>
			    <select  class="form-control" id="planUserUserNamePlanUserItemInfo">
			    	<option value="-1">Select an user..</option>

			    	{% for item in model.users %}

			    		<option value="{{item.id}}">{{item.FirstName ~ ' ' ~ item.LastName}}</option>

			    	{% endfor %}
			    </select>
			  </div>  
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="planUserItemSave">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/planUser.js') }}"></script>
	<script src="{{ asset('js/exerciseInstance.js') }}"></script>
	<script src="{{ asset('js/planDay.js') }}"></script>
	<script src="{{ asset('js/planDetail.js') }}"></script>
{% endblock %}