{% extends 'base.html.twig' %}

{% block stylesheets %}
	<!-- <link rel="stylesheet" type="text/css" href="{{  asset('css/userHtml.css') }}" /> -->

{% endblock %}


{% block body %}
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
 				 <div class="panel-heading">Users</div>
				  
				  <div class="panel-body"> 
				  
						<table class="table table-hover" id="tableUserList">
					      <thead>
					        <tr>
					          <th style="display:none"></th>
					          <th>First Name</th>
					          <th>Last Name</th>
					          <th>Email</th>
					          <th>Edit</th>
					          <th>Delete</th>
					        </tr>
					      </thead>
					      <tbody>

					      </tbody>
					    </table>
					</div>
				</div>
		</div>
		<div class="col-md-2"> 
			<td><button type="button" id="addUserItem" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right:10px"></span>New User</button></td>	
		</div>   
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="userItemInfoModal" data-backdrop="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	      	  <input type="hidden" id="userIdUserItemInfo">
	      	  <div class="form-group">
			    <label>First Name *</label>
			    <input type="text" class="form-control" id="userFirstNameUserItemInfo" placeholder="First Name...">
			  </div>
			  <div class="form-group">
			    <label>Last Name *</label>
			    <input type="text" class="form-control" id="userLastNameUserItemInfo" placeholder="Last Name..." />			    
			  </div>
			  <div class="form-group">
			    <label>Email *</label>
			    <input type="text" class="form-control" id="userEmailUserItemInfo" placeholder="User Email..." />
			  </div>  
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="userItemSave">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/userHtml.js') }}"></script>

	<script type="text/javascript">
		{% for message in app.flashes('userInfoSaveResult') %}

		        openNotify('success','{{ message }}');
		    
		{% endfor %}
	</script>
{% endblock %}